<div class="page-header">
    <h1>Pools</h1>
</div>

<div class="form-group">
  <label for="selPoolSize">Fencers in pool:</label>
  <select class="form-control" id="selPoolSize" ng-model="poolSize" ng-change="getPools()" ng-options="x for x in poolSizes">
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
  </select>
</div>
  
<div ng-repeat="pool in pools">
    <p>Pool {{$index}}</p>
    <table>
        <tr ng-repeat="fencer in pool">
            <td>{{fencer.lastname}}, {{fencer.firstname}}</td>
            <td ng-repeat="fencer in pool">X</td>
        </tr>
    </table>
    
</div>


