<div class="page-header">
    <h3>
        {{tournament.name}} - {{tournament.weapon}}
    </h3>
</div>

<div ng-repeat="fencer in tournament.fencers | orderBy:'rating'">
    {{fencer.lastname}}, {{fencer.firstname}} - {{fencer.rating}} / {{fencer.rating_year}}
</div>

<a href="#/tournaments/{{tournament.id}}/pools">Pools</a>

<form ng-submit="addFencer()" style="margin-top:30px;">
    <h3>Add a new fencer</h3>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name" ng-model="firstname"></input>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name" ng-model="lastname"></input>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Rating" ng-model="rating"></input>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Rating Year" ng-model="rating_year"></input>
    </div>
    <button type="submit" class="btn btn-primary">Add fencer</button>
</form>