<!DOCTYPE html>
<html>
<head>
  <title>Durandal2</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<script type="text/ng-template" id="/home.html">
    <div class="page-header">
        <h1>Durandal</h1>
    </div>

    <div ng-repeat="tournament in tournaments">
        <span style="font-size:20px; margin-left:10px;">
            {{tournament.title}} - weapon: {{tournament.weapon}}
        </span>
        <span>
            <a href="#/tournaments/{{$index}}">Fencers</a>
        </span>
    </div>

    <form ng-submit="addTournament()" style="margin-top:30px;">
        <h3>Add a new tournament</h3>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
        </div>

        <br>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Weapon" ng-model="weapon"></input>
        </div>

        <br>

        <button type="submit" class="btn btn-primary">
          New Tournament
      </button>
    </form>
</script>

<script type="text/ng-template" id="/tournaments.html">
    <div class="page-header">
        <h3>
          {{tournament.title}} - {{tournament.weapon}}
        </h3>
    </div>

    <div ng-repeat="fencer in tournament.fencers | orderBy:'rating'">
        {{fencer.lastname}}, {{fencer.firstname}} - {{fencer.rating}} / {{fencer.rating_year}}
    </div>
    
    <form ng-submit="addFencer()"
        style="margin-top:30px;">
        <h3>Add a new comment</h3>
    
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="First Name"
                 ng-model="firstname"></input>
        </div>
        
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Last Name"
                 ng-model="lastname"></input>
        </div>
        
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Rating"
                 ng-model="rating"></input>
        </div>
        
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Rating Year"
                 ng-model="rating_year"></input>
        </div>
        <button type="submit" class="btn btn-primary">Add fencer</button>
      </form>
</script>

<body ng-app="durandal" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ui-view></ui-view>
        </div>
    </div>

</body>
</html>
